@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400');

* {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-size: 20pt;
}

html, body {
  background-color: #525f7f;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}

#wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}

#header {
  text-align: center;
  margin: 20px;
}

#title {
  font-size: 25pt;
  font-weight: 300;
  color: #fff;
  margin-bottom: 20px;
}

#content {
  flex: 1;
  border-radius: 5px;
  background: #f6f9fc;
  margin: 20px;
  margin-top: 0;
  max-height: 500px;
  overflow: auto;
}

#search {
  background: #24b47e;
  outline: none;
  border-style: none;
  appearance: none;
  text-decoration: none;

}

.emoji-info > span {
  padding-right: 20px;
}
