<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="/js/client.js"></script>
  <script type="text/javascript">
    window.onload = function() {
      load();
    }
  </script>
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <div id="title">🏪 Emoji Store</div>
      <form id="search-emoji-form">
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="search-query" autocomplete="off" />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="search">🔍</button>
          </div>
        </div>
      </form>
    </div>
    <div id="content" class="card">
      <div id="emojis-results" class="shadow-sm"></div>
    </div>
  </div>
</body>
</html>
