<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="/js/client.js"></script>
  <script type="text/javascript">
    window.onload = function() {
      load();
    }
  </script>
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <div id="title">🏪 Emoji Store</div>
      <form id="search-emoji-form">
        <input type="text" id="search-query" />
        <button type="submit" id="search">🔍</button>
      </form>
    </div>
    <div id="content">
      <div id="emojis-results"></div>
    </div>
  </div>
</body>
</html>
